##########################
# Input / Output files

*.in
*.out
#################################

#############################
# Build files

*.class
*.o
*.cproject
*.project

**/.project
**/.cproject

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Linux
# =========================
**~

# Others
# =======================
Debug/**
*.txt
*.htm
tmp~
